<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>Paraphaser</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="cal">
        <h1>Change those words now</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form method="POST">
            <input type="text" name="text" placeholder="Copy and paste sentence" required/>
            <button type="submit" class="btn btn-primary btn-block btn-large">Paraphase</button>
        </form>
 
 
 {% if report %}
 <p><strong>{{report}}</strong></p>
 {% endif %}
    </div>
<div id ="Use">
   <h2><strong>How to use paraphaser</strong></h2>
   <p> 1. Enter paragraph or sentence </p>
</div>
</body>

</html>